.pane{
	-fx-background-color: FEFEFE;
	-fx-border-color: 	#000000;
}

.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}